<div class="container">
  <form #form="ngForm">
    <div class="options" #options [style.display]="hideElement?'inherit':'none'">

      <div class="form-group">
        <label for="breed">Breed:</label>
        <select name="breed" id="breed" [(ngModel)]="cat.breed">
          <option *ngFor="let breed of breeds" [ngValue]="breed.id" [attr.selected]="cat.breed==breed.name ? true : null">
            {{breed.name}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="categories">Category: </label>
        <select name="categories" id="categories" [(ngModel)]="cat.categorie">
          <option *ngFor="let categorie of categories" [ngValue]="categorie.id"
            [attr.selected]="cat.categorie==categorie.name ? true : null">
            {{ categorie.name | titlecase }}
          </option>
        </select>
      </div>

    </div>


    <button id="getCatButton" (click)="getCat(cat.breed, cat.categorie)">Random Cat ❔</button>
  </form>

  <div id="options" (click)='toggleOptions()' [className]="hideElement ? 'onOptions' : ''">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
    </svg>
    <p id="optionsText">More Options</p>

  </div>

  <figure>
    <img alt="kitten">
  </figure>
</div>
